body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}


.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover{
  transform: scale(1.3);
  color: rgb(0, 0, 0);
}
.icon {
  font-size: 35px;
  color: #ffffff;
}
.turn-text:hover{
color: beige;
transform: scale(1.01);
text-shadow: 1px 1px 1px rgb(185, 179, 179);
cursor: pointer;
}
.turn-text{
  color: rgb(211, 198, 198);
}

.reload-button:hover{
  box-shadow: 1px 1px 1px rgb(155, 152, 152);
  transform: scale(1.01);
}
